<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
        id="accorderie_canada_ddb"
        name="Accorderie Canada Ddb"
        sequence="20"
        web_icon="accorderie_canada_ddb,static/description/icon.png"
    />

    <menuitem id="models" name="Models" sequence="1" parent="accorderie_canada_ddb" />

    <menuitem
        id="accorderie"
        name="Accorderie"
        action="accorderie_accorderie_accorderie_accorderie_action_window"
        sequence="1"
        parent="models"
    />

    <menuitem
        id="arrondissement"
        name="Arrondissement"
        action="accorderie_arrondissement_accorderie_arrondissement_action_window"
        sequence="2"
        parent="models"
    />

    <menuitem
        id="commentaire"
        name="Commentaire"
        action="accorderie_commentaire_accorderie_commentaire_action_window"
        sequence="3"
        parent="models"
    />

    <menuitem
        id="demande_adhesion"
        name="Demande Adhesion"
        action="accorderie_demande_adhesion_accorderie_demande_adhesion_action_window"
        sequence="4"
        parent="models"
    />

    <menuitem
        id="demande_service"
        name="Demande Service"
        action="accorderie_demande_service_accorderie_demande_service_action_window"
        sequence="5"
        parent="models"
    />

    <menuitem
        id="droits_admin"
        name="Droits Admin"
        action="accorderie_droits_admin_accorderie_droits_admin_action_window"
        sequence="6"
        parent="models"
    />

    <menuitem
        id="echange_service"
        name="Echange Service"
        action="accorderie_echange_service_accorderie_echange_service_action_window"
        sequence="7"
        parent="models"
    />

    <menuitem
        id="fichier"
        name="Fichier"
        action="accorderie_fichier_accorderie_fichier_action_window"
        sequence="8"
        parent="models"
    />

    <menuitem
        id="membre"
        name="Membre"
        action="accorderie_membre_accorderie_membre_action_window"
        sequence="9"
        parent="models"
    />

    <menuitem
        id="occupation"
        name="Occupation"
        action="accorderie_occupation_accorderie_occupation_action_window"
        parent="models"
    />

    <menuitem
        id="offre_service"
        name="Offre Service"
        action="accorderie_offre_service_accorderie_offre_service_action_window"
        sequence="11"
        parent="models"
    />

    <menuitem
        id="origine"
        name="Origine"
        action="accorderie_origine_accorderie_origine_action_window"
        sequence="12"
        parent="models"
    />

    <menuitem
        id="pointservice"
        name="Pointservice"
        action="accorderie_pointservice_accorderie_pointservice_action_window"
        sequence="13"
        parent="models"
    />

    <menuitem
        id="provenance"
        name="Provenance"
        action="accorderie_provenance_accorderie_provenance_action_window"
        sequence="14"
        parent="models"
    />

    <menuitem
        id="quartier"
        name="Quartier"
        action="accorderie_quartier_accorderie_quartier_action_window"
        sequence="15"
        parent="models"
    />

    <menuitem
        id="region"
        name="Region"
        action="accorderie_region_accorderie_region_action_window"
        sequence="16"
        parent="models"
    />

    <menuitem
        id="revenu_familial"
        name="Revenu Familial"
        action="accorderie_revenu_familial_accorderie_revenu_familial_action_window"
        sequence="17"
        parent="models"
    />

    <menuitem
        id="situation_maison"
        name="Situation Maison"
        action="accorderie_situation_maison_accorderie_situation_maison_action_window"
        sequence="18"
        parent="models"
    />

    <menuitem
        id="titre"
        name="Titre"
        action="accorderie_titre_accorderie_titre_action_window"
        sequence="19"
        parent="models"
    />

    <menuitem
        id="type_communication"
        name="Type Communication"
        action="accorderie_type_communication_accorderie_type_communication_action_window"
        sequence="20"
        parent="models"
    />

    <menuitem
        id="type_compte"
        name="Type Compte"
        action="accorderie_type_compte_accorderie_type_compte_action_window"
        sequence="21"
        parent="models"
    />

    <menuitem
        id="type_fichier"
        name="Type Fichier"
        action="accorderie_type_fichier_accorderie_type_fichier_action_window"
        sequence="22"
        parent="models"
    />

    <menuitem
        id="type_service"
        name="Type Service"
        action="accorderie_type_service_accorderie_type_service_action_window"
        sequence="23"
        parent="models"
    />

    <menuitem
        id="type_service_categorie"
        name="Type Service Categorie"
        action="accorderie_type_service_categorie_accorderie_type_service_categorie_action_window"
        sequence="24"
        parent="models"
    />

    <menuitem
        id="type_service_sous_categorie"
        name="Type Service Sous Categorie"
        action="accorderie_type_service_sous_categorie_accorderie_type_service_sous_categorie_action_window"
        sequence="25"
        parent="models"
    />

    <menuitem
        id="type_tel"
        name="Type Tel"
        action="accorderie_type_tel_accorderie_type_tel_action_window"
        sequence="26"
        parent="models"
    />

    <menuitem
        id="ville"
        name="Ville"
        action="accorderie_ville_accorderie_ville_action_window"
        sequence="27"
        parent="models"
    />
</odoo>
