// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base: $o-theme-font-size-base;
$search_bar-height: 65px;
$primary-color: theme-color("primary") !default;
$secondary-color: theme-color("secondary") !default; //navy blue
$tertiary-color: theme-color("delta") !default; //cloud blue
$alpha: theme-color("epsilon") !default; //cyan-ish
$beta: #d6d6d6; //light-grey (mainly for borders)
$delta: #f4feff;
$gamma: #dbe8ea;
$text-alpha: white;
$text-beta: black;
$text-gamma: #656565;
$bg-alpha: white;
$bg-red-alert: #fd7878;
$bg-red-2-alert: #9f0808;

body {
  overflow-x: hidden;
}
/*
  Global
*/
@media only screen and (max-width: 990px) {
  .mobile-display-none {
    display: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

// Debug
.debug_debug {
  display: none;
}

// AngularJS
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

// Time
.neg_time {
  color: $bg-red-alert !important;
}
.neg_time_2 {
  color: $bg-red-2-alert !important;
}

// Adapt navbar
.navbar {
  padding: 0 !important;
}

.navbar-light {
  background-color: $primary-color;
}

@media only screen and (max-width: 890px) {
  .list_title {
    h1 {
      font-size: 5vw !important;
      margin-left: 0 !important;
    }

    a {
      font-size: 3vw !important;
    }

    span * {
      font-size: 4vw !important;
    }
  }
}

.list_title {
  padding-bottom: 50px;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
    margin-left: auto;
    white-space: nowrap;
  }

  .nav_btn {
    font-size: 1rem;
    border: 1px solid $beta;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 35px;
    text-align: center;
    margin: auto 0 auto;
    line-height: 1.8rem;
  }
}

a {
  color: $text-beta;
}

/*
    login page
*/
.s_login {
  background-position-x: center;
  height: 1000px;
  min-height: 500px;
}

.login_box {
  border-radius: 20px;
  width: 30%;
  float: right;
  padding: 4% 2%;
  margin: 5% 10% 0 0;
  background-color: $bg-alpha;

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    font-weight: normal;
  }
}

#login_form {
  margin: 20px auto;
  max-width: none;
}

.login-btn {
  color: $text-alpha !important;
  width: 40% !important;
}

@media only screen and (max-width: 990px) {
  .s_login {
    background-size: contain !important;
  }
  .login_box {
    width: 100%;
    margin: 40% 0 0 0;
    padding: 5% 7%;
    border-radius: 0;
  }
  .login_box.shadow {
    box-shadow: none !important;
  }
}

/*
    navbar
*/
.navbar .nav {
  width: 100%;

  .nav-item {
    padding-right: 20px;
  }
  :nth-child(7) {
    margin-left: auto;
  }
  :nth-child(11) {
    padding-left: 20px;
  }
}

header .nav-link {
  padding-right: 10px !important;
}

.navbar-toggler {
  margin-right: auto !important;
  border: 0px !important;
}

.collapse.navbar-collapse {
  height: var(--nav-height);

  #top_menu {
    height: 100%;

    .nav-item {
      padding-top: 20px;
    }
  }
}

.nav-item.account,
.dropdown.account {
  display: flex;
  width: auto;
  padding: 20px 20px 0;
  max-height: var(--nav-height);

  .nav_pic {
    height: 45px;
    aspect-ratio: 1;
  }
  .nav-link {
    padding: 0 0.5rem;

    .hours {
      text-align: left;
    }
  }

  .dropdown-toggle {
    background-color: $secondary-color !important;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .collapse.navbar-collapse {
    height: auto;
  }
}

/*
    navbar dropdown menu
*/
.dropdown-menu.submenu {
  padding: 1.5rem;
  max-width: 480px;
  min-width: 465px;

  .pub {
    padding: 1.5rem;
    border: 1px solid $beta;
    border-radius: 5px;
    margin-top: 1rem;
    white-space: normal;
  }
}

.dropdown-nav {
  border-bottom: 1px solid $beta;

  button {
    background-color: $bg-alpha;
    border: none;
    padding: 1rem 0;
    margin-right: 1rem;
  }
  button:hover {
    box-shadow: inset 0 -2px $primary-color;
  }
}

.cat.activite.btn {
  min-height: unset;
  padding-right: 1rem;

  img {
    height: 65px;
  }
}
.cat.activite.btn-primary {
  text-align: center;
  display: block;
  padding: 0.75rem;
  margin-top: 5%;
}

.dropdown-cat .dropdown-item {
  padding: 0;
}
.tab-items-container {
  max-height: 500px;
  overflow-y: scroll;
}
@media only screen and (max-width: 767px) {
  .dropdown-menu.submenu {
    min-width: 100vw;
  }
}

/*
searchbar
*/
.s_search {
  padding-bottom: 600px;
  background-position-x: center;
}

.s_search_short {
  background-color: $tertiary-color;
}

.search_bar {
  background-color: $bg-alpha;
  height: $search_bar-height;
  width: 80%;
  border-radius: 50px;
  margin: 5% auto;

  input {
    float: left;
    height: 30px;
    margin-top: -35px;
    margin-left: 25px;
    font-size: 1rem;
    width: 45%;
    border: none;
    background-color: white;
  }

  input:focus {
    outline: none;
  }
}

.search_category {
  width: 50%;
  height: $search_bar-height;
  margin-left: auto;
  margin-right: 0;
  position: relative;

  .search_select {
    float: left;
    font-size: 1rem;
    font-weight: normal;
    margin: -30px 0 0 25px;
  }
}

.search_category:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 20%;
  height: 60%;
  border-left: 2px solid #becfd1;
  border-radius: 2px;
}

.search_send {
  width: 40%;
  height: $search_bar-height;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_txt {
  text-align: left;
  float: left;
  margin-top: 12px;
  margin-left: 25px;
  font-size: 14px;
}

@media only screen and (max-width: 990px) {
  .s_search {
    padding-bottom: 200px;
  }
  .search_bar {
    height: 50px;

    input {
      margin: 0;
      padding: 0 5%;
      width: 100%;
      height: 50px;
      border-radius: 50px;
    }
  }
  .search_category {
    display: none;
  }
  .search_txt {
    display: none;
  }
}

/*
    Offres catégories
*/

.s_offres {
  padding: 0 14%;
}

.offres_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.offre_box.btn {
  padding: 0;
  text-align: left;
  max-height: 140px;

  a {
    color: $text-beta;
  }

  .offre_img {
    height: 88%;
    aspect-ratio: 1/1;
    float: left;
    background-size: cover;
    border-radius: 5px;
  }

  .offre_desc {
    padding: 1rem 5%;
    float: left;
  }
}

@media only screen and (max-width: 1090px) {
  .s_offres {
    padding: 0 5%;
    height: auto;
  }
  .offres_list {
    grid-template-columns: repeat(5, 270px);
    grid-template-rows: repeat(3, 100px);
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
  }
}

/*
    Banner
*/

.banner-bg {
  padding: 5% 4%;
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.banner_btn {
  margin: auto;
  max-width: none !important;
  padding-top: 16px;
}

.container_communaute {
  .row {
    width: 100%;
  }
}

.s_title_banner {
  padding: 10vw;

  p {
    font-size: 3rem;
  }
}
.aide_title {
  font-size: 4rem;
}

@media only screen and (max-width: 890px) {
  .banner-bg {
    padding: 50% 0 0 0;
    background-size: auto;
    width: 90%;

    .container {
      max-width: 100%;

      .row > .jumbotron {
        border-radius: 0px;

        .row > .s_title * {
          font-size: 6vw;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
  #banner_communaute {
    padding: 50% 0 0 0;

    .s_parallax_bg {
      background-position: 90%;
    }
  }
  .container_communaute {
    max-width: 100%;
    padding: 0;

    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  #banner_aide {
    padding: 50% 0 0 0 !important;

    .container {
      max-width: 100% !important;

      .row {
        background-color: $primary-color;
        padding: 30px 15px;

        .s_btn {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
        }
      }
    }
  }
  .aide_title {
    font-size: 6vh;
  }
  .aide_btn {
    background-color: $bg-alpha !important;
    border-color: $bg-alpha !important;
  }
  #aide_btn_txt {
    color: $primary-color !important;
  }

  .s_title_banner p {
    font-size: 4vh;
  }
}

/*
actualité
*/

.s_actualite {
  padding-bottom: 256px;
  overflow-y: auto;
}

.container_actualite {
  margin-left: 5%;
  width: 45%;
  float: left;
}

.container_accordage {
  border-radius: 7px;
  overflow: hidden;
  float: right;
  margin: 0 10% 0 5%;
  height: 1300px;
  width: 32%;

  .img {
    height: 65%;
  }

  .info {
    height: 35%;
    background-color: $primary-color;
    padding: 10%;

    * {
      color: $text-alpha;
      margin: 5% 0;
    }

    .btn.rounded-circle {
      color: $primary-color;
    }
  }
}

.box_actualite {
  border: 1px solid $beta;
  border-radius: 7px;
  overflow-wrap: break-word;
  margin: 20px 0 0 10%;
}

.actualite_head {
  padding: 3%;
  position: relative;
  display: flex;
  align-items: center;

  .pub_pfp {
    width: 50px;
    aspect-ratio: 1;
  }
  .pub_info {
    margin-left: 5%;

    .pub_user {
      font-size: 1.5rem;
    }
    .pub_date {
      font-size: 1rem;
    }
    * > p {
      margin-bottom: 0;
    }
  }
  i {
    font-size: 2rem;
    margin-left: auto;
  }
}

.actualite_head:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 3%;
  width: 94%;
  border-bottom: 1px solid $beta;
}

.actualite_content {
  padding: 3%;

  .pub_desc {
    font-size: 1rem;
    img {
      max-width: 100%;
    }
  }
}

.actualite_stats {
  padding: 3%;
  position: relative;
  height: 10%;
  display: flex;

  .like_count {
    margin-right: auto;
  }

  .comment_count {
    margin-right: 1%;
  }

  .view_count {
    margin-left: 1%;
  }

  .actualite_stats > * {
  }
}

.actualite_stats:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 3%;
  width: 94%;
  border-bottom: 1px solid $beta;
}

.pub_actions {
  height: 35px;
  padding: 1%;

  .like_btn:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    border-right: 1px solid $beta;
  }
}

.pub_actions > * {
  position: relative;
  width: 50%;
  text-align: center;
  float: left;
}

.actualite_foot {
  padding: 3%;
  position: relative;
  display: flex;

  .profile_img {
    height: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .comment_bar {
    padding: 5px 15px;
    width: 100%;
    height: 35px;
    border-radius: 50px;
    background-color: $beta;
    margin-left: 3%;
    display: flex;

    input {
      height: 100%;
      background-color: $beta;
      border: none;
      width: 100%;
      outline: none;
      flex-grow: 1;
    }
    icon {
      margin: auto 0 auto 10px;
      font-size: 1.3rem;
    }
  }
}

.actualite_foot:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 3%;
  width: 94%;
  border-top: 1px solid $beta;
}

@media only screen and (max-width: 1050px) {
  .container_accordage {
    width: 90%;
    float: unset;
    height: auto;
    margin-top: 2rem;

    .img {
      height: 35%;
    }
    .info {
      height: 200px;
    }
  }
  .container_actualite {
    margin: auto !important;
    float: none !important;
    width: 90% !important;

    .box_actualite {
      margin: 7% 0 0 0 !important;
    }
  }

  .actualite_content {
    .pub_desc {
      font-size: 2vh;
    }
  }
}

/*
 Offres et demandes récentes
*/

.s_activites_recentes {
  height: auto;
  padding: 5% 10%;
}

.container_lists {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.activites_list {
  padding: 0 5% !important;
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  height: 100%;
  margin: 0 !important;
  overflow: hidden;

  .list_title {
    padding-bottom: 3rem;
  }
}

.activite.btn {
  max-width: 100%;
  max-height: 160px;
  padding: 1.5rem 0;
  overflow: hidden;
  text-align: left;
  white-space: normal;
  display: flex;

  .activite_img {
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    margin-right: 5%;
    line-height: 100px;
    font-size: clamp(12px, 3rem, 3rem);
  }
  .infos {
    display: flex;
    flex-direction: column;
  }

  .activite_title {
    color: $text-beta;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .activite_auteur {
    margin-top: auto;
    color: $text-beta;
    font-size: 1.1rem;
  }

  .activite_distance {
    margin-bottom: 0;
    color: $text-beta;
    font-size: 1.1rem;
  }
  .status {
    border: 1px solid;
    border-radius: 50px;
    height: fit-content;
    padding: 0.5rem 1rem;
    margin: 0 0 auto auto;
    font-weight: bold;
    white-space: nowrap;
  }
  .status.red {
    color: white;
    background-color: $bg-red-alert;
    border: none;
  }
  .status.red-o {
    color: $bg-red-alert;
  }
  .status.blue {
    color: white;
    background-color: $alpha;
    border: none;
  }
  .status.blue-o {
    color: $alpha;
  }
  .event {
    margin: 0 0 auto auto;
  }

  .infos.right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    color: $text-beta;
    width: min-content;

    .fa {
      margin-top: auto;
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 990px) {
  .s_activites_recentes {
    padding: 5% 0;
  }
  .container_lists {
    flex-direction: column;
    gap: 5rem;
  }
  .row.activites_list {
    width: 100%;
    height: inherit !important;

    .activite {
      padding: 2% 0 2%;

      .activite_img {
        height: 8vh;
        line-height: 8vh;
      }

      .activite_title {
        font-size: 1.8vh;
        max-height: 3rem;
        overflow: hidden;
      }

      .activite_auteur,
      .activite_distance {
        font-size: 1.5vh;
      }
    }
  }
}

/*
    horizontal list
*/

.s_event_list {
  height: 675px;
  padding: 100px 10%;
}

.list_head {
  height: 10%;
  padding: 0 1%;
}

.horizontal_list {
  display: flex;
  flex-direction: row;
  height: 90%;
}

.event_date_container {
  height: 55%;
  aspect-ratio: 1/1;
  background-color: $bg-alpha;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  overflow: hidden;
  min-height: 75px;

  .event_date {
    flex: 1;
  }

  .event_date_separator {
    background-color: $primary-color;
    flex: 0.1;
    height: 3px;
  }
}

.event_date_container.lg {
  aspect-ratio: 2/1;
}

.list_item {
  height: 100%;
  flex: 1;
  padding: 2% 1%;

  .item_card {
    height: 100%;
    width: 100%;
    white-space: initial;
    padding: 0;
    text-align: left;
    position: relative;

    .item_img {
      width: 100%;
      height: 40%;
      padding: 5%;
      position: relative;
    }

    .item_desc {
      width: 100%;
      height: 60%;
      padding: 5%;

      .item_title {
        font-size: 1.2rem;
        line-height: 1;
      }
      .event_time {
        color: $text-gamma;
      }
      .event_loc {
        color: $text-gamma;
        font-size: 0.8rem;
      }
      * > icon {
        font-size: 1.2rem;
      }
    }

    .btn_container {
      display: flex;
      position: absolute;
      width: 90%;
      height: 10%;
      bottom: 4%;
      gap: 5%;

      .item_btn {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .item_btn.lg {
        font-size: 1.2rem;
      }
      .locked {
        background-color: $gamma;
      }
    }
  }
}

@media only screen and (max-width: 1510px) {
  .horizontal_list {
    overflow-x: auto;
    white-space: normal;
    width: 100%;
  }
  .list_item {
    min-width: 280px;
    height: auto;
  }
}

/*
    footer
*/
#footer .s_text_block {
  padding: 48px 0 8px 0;
}

.footer_container {
  margin: 0 10%;
}

.row.footer_row {
  flex-wrap: nowrap;
}

.footer_link {
  line-height: 1.5rem;
}

.footer_row {
  .footer_menu,
  .footer_aide {
    text-align: left;
    white-space: normal;
  }
}

.bottom_menu_icon {
  display: none;
}

@media only screen and (max-width: 990px) {
  #footer .s_text_block {
    padding: 10px 0 0;
  }
  .footer_container {
    margin: 0;

    .row.footer_row {
      margin: 0;
      align-items: center;

      br {
        display: none;
      }
    }
  }

  .o_footer {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
  }
  .footer_link {
    display: none;
    font-size: 0;
  }

  .col-lg-2.footer_menu {
    text-align: center;
    padding: 0;

    .bottom_menu_icon {
      font-size: clamp(12px, 7vw, 30px);
      display: inline;
    }

    h5 {
      font-size: 2vw;
    }
  }

  .footer_aide {
    display: none;
  }
  .o_footer_copyright {
    display: none;
  }
  #wrapwrap {
    padding-bottom: 65px;
  }
}

/*
    Page Communauté
*/

.sub-navbar .nav {
  flex-direction: row;
  background-color: $tertiary-color;
  padding-left: 9%;
  margin-bottom: 5%;

  .nav-item {
    padding: 0 20px;
    .nav-link {
      padding: 1rem 0;
    }
    .nav-link.active {
      box-shadow: inset 0 -2px $primary-color;
    }
  }
}

.actualite_search {
  padding: 1rem 0 2rem 10%;
  display: flex;

  .search_bar_rectangle {
    border-radius: 7px;
    width: 65%;
    padding: 1rem;
    border: 1px solid $alpha;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $alpha;

    input {
      border: none;
      outline: none;
      flex-grow: 1;
      width: 100%;
    }
  }
  .btn {
    border-radius: 7px;
    float: right;
    border: 1px solid $alpha;
    padding: 1rem;
    margin-left: auto;
  }
}
.box_publication {
  border: 1px solid $beta;
  border-radius: 7px;
  overflow-wrap: break-word;
  margin: 20px 0 0 10%;
  padding: 3%;

  p {
    font-size: 1.5rem;
  }
  .profile_img {
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  input {
    border: none;
    outline: none;
    height: 2.5rem;
    width: 84%;
    margin-left: 5%;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .sub-navbar .nav {
    flex-direction: row;
    background-color: $bg-alpha;
    border-bottom: 1px solid grey;
    padding: 0;

    .nav-item {
      text-align: center;
      padding: 0;
      font-size: 3.5vw;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .actualite_search {
    padding-left: 0;
    display: flex !important;

    .search_bar_rectangle {
      margin: 0;
      width: 75%;
    }

    .btn {
      border: none;
      font-size: 0;

      i {
        font-size: 6vw;
        line-height: 1rem;
      }
    }
  }
  .box_publication {
    margin: unset;
    input {
      width: 80%;
      font-size: 3.5vw;
    }
  }
}

/*
    page Communauté/Évènements
*/

.s_event_list.lg {
  height: auto;
  padding: 0 10%;

  .horizontal_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

    .list_item {
      height: 500px;
      width: auto;
    }
  }
}

.filter_btn.btn {
  border-radius: 50px;
  float: right;
  border: 1px solid $alpha;
  padding: 0.75rem 2rem;
}

@media only screen and (max-width: 1050px) {
  .filter_btn.btn {
    display: none;
  }
}

/*
    Page Communauté/Membres
*/

.s_event_list.small-cards {
  height: auto;
  padding: 0 10%;

  .horizontal_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;

    .list_item {
      height: 350px;
      width: auto;
    }
  }
}

.item_img > icon {
  float: right;
  font-size: 20px;
}
.item_img .name {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
}
.item_img .infos {
  position: absolute;
  bottom: 10px;
}

.item_desc.centered {
  text-align: center;
  height: 40% !important;
  padding: 10% !important;
}

.item_foot {
  height: 20%;
  text-align: center;
  padding: 8%;
  position: relative;
}

.tag {
  padding: 0.25rem 0.9rem;
  background-color: #fff4f0;
  color: $primary-color;
  border-radius: 5px;
  width: fit-content;
}
.tag.text-epsilon {
  background-color: #e3f4f7;
}

.item_foot:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 5%;
  width: 90%;
  border-top: 1px solid $beta;
}
.s_map_btn .btn_map {
  font-size: 1.2rem;
  float: right;
  margin-right: 10%;
}
//clearfix
.s_map_btn::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 990px) {
  .s_event_list.small-cards {
    padding: 0 5%;
  }
}

/*
    Page mon activité/Bilan
*/
.s_activite_bilan {
}

.bilan_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 0 10%;

  .bilan {
    border-radius: 7px;
    padding: 10% 15%;
    color: $text-alpha;
    text-align: left;
    border: none;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    .nbr {
      font-size: clamp(24px, 2.35vw, 2.35vw) !important;
      font-weight: bold;
    }

    .txt {
      font-size: clamp(18px, 1.5vw, 1.5vw) !important;
    }
  }

  .bilan-1 {
    grid-area: 1 / 1 / 3 / 2;
    padding: 10% 15%;
    flex-direction: column;
    align-items: unset;
    justify-content: center;

    .nbr {
      width: 100%;
    }
  }

  .bilan-2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .bilan-3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .bilan-4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .bilan-5 {
    grid-area: 2 / 3 / 3 / 4;
  }
}

.lg-btn.btn {
  padding: 1.3rem;
  font-size: 1.2rem;
}

.activite.btn.small {
  max-height: 20%;
  white-space: nowrap;
}

@media only screen and (max-width: 990px) {
  .bilan_container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    .bilan {
      flex-direction: column;
      text-align: center;
      padding: 1rem;
    }

    .bilan-1 {
      grid-area: 1 / 1 / 2 / 3;
      padding: 10%;
    }

    .bilan-2 {
      grid-area: 2 / 1 / 3 / 2;
    }

    .bilan-3 {
      grid-area: 3 / 1 / 4 / 2;
    }

    .bilan-4 {
      grid-area: 2 / 2 / 3 / 3;
    }

    .bilan-5 {
      grid-area: 3 / 2 / 4 / 3;
    }
  }
}

/*
    Page mon profil
*/
.banner_profile {
  display: flex;
  gap: 2rem;
  align-items: center;

  .solde_container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    border-left: 2px solid $text-gamma;

    .txt {
      font-size: 1.3rem;
      line-height: 1.3rem;
      margin-bottom: 0.5rem;
    }

    .solde {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  .profile_infos {
    display: flex;
    align-items: center;
    width: 50%;
  }
}

.s_informations {
  margin-top: 100px;
  margin-bottom: 100px;
}

.profile_pic {
  height: 150px;
  aspect-ratio: 1/1;
  background-size: cover;
  position: relative;

  i {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 2rem;
  }
}
.profile_banner_info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;

  .profile_name {
    font-size: 3rem;
  }
  .profile_hrs {
    font-size: 2.5rem;
  }
}

.profile_btn.btn {
  border: 1px solid $beta;
  color: $text-alpha;
  padding: 1rem;
  font-size: 1.5rem;
  white-space: normal;
}
.profile_btn.accorderie {
  margin-left: auto;
}

.informations_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 0 10%;

  .information {
    border-radius: 7px;
    padding: 2.5rem;
    text-align: left;
    border: 1px solid $beta;
    text-decoration: none;
    white-space: normal;
    max-height: 300px;
    overflow: hidden;

    img {
      height: 15%;
    }

    .nbr {
      font-size: 1.5rem;
      color: $text-beta;
    }

    .txt {
      font-size: 1.2rem;
      color: gray;
    }
  }

  .information-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .information-2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .information-3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .information-4 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .information-5 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .logout {
    background-color: black;
    display: none;
    border: none;
    text-align: center;

    > * {
      color: $text-alpha !important;
    }
  }
}

@media only screen and (max-width: 990px) {
  .banner_profile {
    flex-direction: column;
    align-items: unset;
    .profile_infos {
      width: 100%;
    }
    .solde_container {
      display: none;
    }
  }
  .profile_pic {
    height: 12vh;
  }
  .informations_container {
    display: flex;
    flex-direction: column;

    .information {
      padding: 5%;

      img,
      br {
        display: none;
      }

      .nbr {
        font-size: clamp(20px, 1.5vw, 1.5vw) !important;
      }

      .txt {
        display: none;
      }
    }
    .logout {
      display: block;
    }
  }
  .profile_banner_info {
    .profile_name {
      font-size: 4vh;
    }
    .profile_hrs {
      font-size: 3.5vh;
    }
  }

  .profile_btn.disconnect {
    display: none;
    padding: 0;
  }
  .profile_btn.accorderie {
    width: 100%;
    font-size: 5vw;

    i {
      display: none;
    }
  }
}

/*
    Page Mon activité/Accordages, Mon activité/Mon agenda
*/
.s_activites_recentes.lg {
  max-height: 2000px;
  height: auto;
  padding-top: 0;
}

.activites_list.lg {
  width: 100%;
  flex-wrap: nowrap;

  .list_title {
    border-bottom: 1px solid $beta;
    margin-top: 6vh;
  }
  .agenda_btns {
    margin-left: auto;
    border: 1px solid #d6d6d6;
    border-radius: 7px;
    display: flex;
    align-items: center;

    .btn {
      padding: 1rem;
      line-height: 1rem;
      font-size: 1.5rem;
      border-radius: 7px;
      color: $beta;
    }
    divider {
      border-left: 1px solid $beta;
      height: 1.5rem;
    }
  }

  .activite.btn {
    height: 150px;
    display: flex;
    align-items: center;

    .activite_img {
      max-height: 150px;
    }

    .activite_infos {
      display: flex;
      width: 60%;
      height: 100%;
      align-items: center;
    }

    .activite_title {
      width: 30%;
    }

    .details {
      position: relative;
      padding: 0 10%;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .status {
      margin: auto 0 auto auto;
    }

    .details::after {
      content: "";
      position: absolute;
      left: 0px;
      top: 20%;
      height: 60%;
      border-left: 1px solid $beta;
      border-radius: 2px;
    }
  }
}

.medium-btn.btn {
  color: $text-alpha;
  width: fit-content;
  padding: 1.5%;
  font-size: 1rem;
  margin-top: 5%;
}

@media only screen and (max-width: 990px) {
  .activites_list.lg .activite.btn {
    .activite_infos {
      flex-direction: column;
      align-items: unset;
      justify-content: center;

      .activite_title {
        width: auto;
      }

      .time {
        display: none;
      }
      .details {
        padding: 0;
        position: unset;
        height: auto;
      }
    }
    .details_link {
      display: none;
    }
  }
  .medium-btn.btn {
    max-width: 100%;
    margin: 5% auto;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    padding: 2.5%;
  }
}

/*
    Participer
*/
.s_buttons_form {
  max-height: calc(100vh - 126px);
  display: flex;
}

.txt_question {
  display: flex;
  background-color: $alpha;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  > div {
    padding: 15%;
  }

  h1 {
    color: $text-alpha;
  }
}

#participer_form {
  flex: 1;

  h2 {
    font-weight: bold;
  }
}

.buttons_form_container .label:hover {
  background-color: $delta;
}

.buttons_form_container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.buttons_form_container .label.checked {
  box-shadow: inset 0px 0px 0px 2px $alpha;
}

.buttons_form_container .s_event_banner {
  width: 100vw;
  left: -12.5%;
  padding: 10%;
}
.buttons_form_container .input-group .datetimepicker-input {
  height: 3.5rem;
  padding: 1rem;
}

.buttons_form_container {
  display: flex;
  height: calc(100vh - 126px - 5rem);
  flex-direction: row;
  gap: 20px;
  padding: 5% 10%;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;

  h3 {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 1rem;
    display: flex;

    .modifier {
      font-size: 1.25rem;
      margin-left: auto;
    }
  }
  .nav_back {
    display: flex;
    gap: 1rem;
    margin: -5% 0 0 -10%;
    align-items: center;
  }

  .label {
    min-height: 120px;
    width: 100%;
    border: 1px solid $beta;
    border-radius: 5px;
    padding: 2%;
    text-align: left;
    white-space: normal;

    img {
      width: 65px;
    }
  }
  .button_form {
    width: 80%;
    margin: auto;
  }

  .divider {
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-top: 1px solid $beta;
  }

  .categorie {
    max-height: 100px;
    width: 47.5%;
  }
  .cat {
    min-height: unset;
    height: 100px;
    width: 100%;
    padding: 1rem;
    hyphens: auto;
    white-space: normal;
    display: flex;
    gap: 5%;
    align-items: center;
  }

  .small {
    min-height: 5rem;
    flex: unset;
    display: flex;
    align-items: center;

    > * {
      margin: 0;
    }
  }

  > *[class^="form_"] {
    resize: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid $beta;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .form_titre {
    min-height: 5rem;
  }
  .form_desc {
    min-height: 10rem;
  }
  .form_box {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $beta;
    padding: 1rem;
    margin-bottom: 2rem;

    > :nth-child(2) {
      margin-left: auto;
    }
    > :nth-child(3) {
      width: 2rem;
      text-align: right;
    }
  }
  .search_member_container {
    display: flex;
    height: 5rem;
    outline: none;
    width: 85%;
    border: 1px solid $beta;
    border-radius: 5px;
    align-items: center;
    padding: 0 5%;
    gap: 5%;
  }

  .autoComplete_wrapper {
    width: 100%;
    height: 5rem;
    position: relative;

    .fa-search {
      position: absolute;
      top: 2rem;
    }
  }

  #chooseMember {
    width: 100%;
    height: 5rem;
    outline: none;
    border: none;
    border-top: 1px solid $beta;
    border-bottom: 1px solid $beta;
  }
  button.remove_member {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-left: auto;
  }
  button.remove_member:hover {
    cursor: pointer;
  }

  ul[id^="autoComplete_list"] {
    list-style: none;
    width: 100%;
    padding: 0;

    > * {
      margin-top: 1rem;
    }
  }
  li[id^="autoComplete_result"] {
    border: 1px solid $beta;
    border-radius: 5px;
    padding: 1rem 2rem;
    position: relative;
    left: -15%;
    width: 122%;

    img {
      margin-right: 5%;
    }
  }

  .activite {
    display: flex;
    padding: 5%;
    background-color: $tertiary-color;
    border-radius: 5px;
    border: 1px solid $alpha;
    align-items: center;

    .activite_img {
      height: 100px;
      aspect-ratio: 1;
      border-radius: 5px;
      margin-right: 5%;
    }

    .infos {
      display: flex;
      flex-direction: column;
      height: 100%;

      > div {
        margin: auto 0;
      }
    }

    .infos_right {
      margin-left: auto;
      height: 100%;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .bootstrap-datetimepicker-widget {
    width: 100%;
  }
}

.scroll {
  flex-wrap: nowrap;
  overflow: auto;
  padding: 25% 15% 5% 15%;
}

.submit_container {
  height: 5rem;
  border-top: 2px solid $alpha;

  .submit_btn {
    min-width: 120px;
    height: 50px;
    background-color: $primary-color;
    float: right;
    margin: 1rem 5%;
    border-radius: 5px;
    color: $text-alpha;
  }

  .submit_btn_disable {
    background-color: #d3d3d3;
  }

  .prev {
    float: left;
    margin: 1.75rem 5%;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 990px) {
  .s_buttons_form {
    flex-direction: column;

    > * {
      width: 100% !important;

      .button_form {
        width: 80% !important;
      }
    }

    .txt_question {
      max-height: 100px;
      background-color: $bg-alpha;
      padding: 5%;

      > div {
        padding: 0;

        span {
          display: none;
        }
      }

      h1 {
        color: $text-beta;
        font-size: clamp(12px, 7vw, 1.75rem);
      }
    }
    #participer_form {
      .buttons_form_container {
        padding: 5%;
        gap: 0.5rem;
        height: calc(100vh - 366px);

        .cat {
          padding: 0.5rem;
          height: 100%;
        }
        .nav_back {
          margin: -1% 0 3%;
        }
      }

      .buttons_form_container .btn.small {
        min-height: 10vh;
      }

      .submit_container .submit_btn {
        width: fit-content;
        margin-right: 5%;
      }
    }
  }
  .buttons_form_container .s_event_banner {
    left: -5.5%;
  }
  .buttons_form_container.form {
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - 272px) !important;
  }
}
@media only screen and (max-width: 500px) {
  .buttons_form_container .categorie {
    width: 100%;
  }
  .cat {
    .cat_desc {
      font-size: 3vw;
    }
    .offre_img {
      width: 10vw;
    }
  }
}

/*
  page publier offre
*/

.s_pub_offre_desc {
  padding: 0 15%;
}

.desc_container {
  padding-top: 100px;

  textarea {
    width: 100%;
    height: 8rem;
    padding: 1rem 2rem;
    border: 1px solid $beta;
    border-radius: 5px;
    resize: none;
  }

  textarea:focus {
    border: 1px solid grey;
    outline: none;
  }

  .desc {
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    border: 1px solid $beta;
    border-radius: 5px;
    margin-top: 1rem;
  }
}

.visible {
  display: block !important;
  visibility: visible !important;
}

.modal_pub_offre {
  background-color: rgba(42, 140, 170, 0.5);

  .modal-dialog {
    margin-top: 5%;
  }
  .modal-content {
    padding: 10% 25%;
    text-align: center;
  }
  button {
    padding: 0.75rem;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 1.5rem;
  }
  font {
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .modal_pub_offre .modal-content {
    padding: 10% 5%;

    .fa-check-circle-o {
      font-size: 10vh !important;
    }
  }
  .modal_pub_offre button {
    padding: 0.375rem 0.75rem;
    font-size: clamp(12px, 3vh, 1.25rem);
    white-space: normal;
    margin-top: 0.75rem;
  }
}
/*
    Page ma présentation
*/
.s_mes_informations {
  background-color: $gamma;

  .informations_container {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 0 10% 5% 10%;

    .information {
      border-radius: 7px;
      padding: 10%;
      text-align: left;
      background-color: $bg-alpha;
      border: none;
      margin-top: -80px;
      margin-bottom: 80px;
      max-height: unset;

      .nbr {
        font-size: 1.5rem;
      }

      .txt {
        font-size: 1rem;
        color: $text-beta;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    }
    .information i {
      font-size: 1.5rem;
      margin-right: 2rem;
      width: 1.5rem;
      text-align: center;
      color: $alpha;
    }

    .information-1 {
      grid-area: 1 / 1 / 2 / 3;
      padding: 1% 4%;
      display: flex;
      align-items: center;
      gap: 8%;

      .profile_pic {
        height: 170px;
        aspect-ratio: 1/1;

        img {
          height: 100%;
          aspect-ratio: 1/1;
          position: relative;
          display: block;
        }
        i {
          width: unset;
          margin: 0;
          font-size: 3.5rem;
        }
      }

      .nbr {
        flex: 1;
      }

      .modif_btn {
        padding: 1% 2%;
        color: $text-alpha;
      }
    }

    .information-2 {
      grid-area: 2 / 1 / 3 / 2;

      .nbr {
        font-style: italic;
        text-align: center;
        display: block;
      }
    }

    .information-3 {
      grid-area: 3 / 1 / 4 / 2;

      .desc {
        font-weight: normal;
        line-height: 2rem;
      }
    }

    .information-4 {
      grid-area: 2 / 2 / 6 / 3;
      display: flex;
      flex-direction: column;
      height: fit-content;

      > * {
        border-bottom: 1px solid $beta;
        padding: 2rem 0;

        .txt,
        br {
          display: inherit;
        }
      }
      :last-child {
        border: none;
      }
    }
    .information-4 .vertical_list {
      padding: 0;
      * {
        font-size: unset;
      }
      img {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .s_mes_informations {
    background-color: unset;

    .informations_container {
      display: flex;
      flex-direction: column;

      .information {
        background-color: unset;
        padding: 0 0 20% 0;
      }

      .information-1 {
        flex-direction: column;

        .nbr {
          text-align: center;
        }
      }
    }
  }
}

/*
    Dialog mon accorderie
*/
.accorderie_form {
  padding: 5% 10%;

  .form_title {
    font-size: 2rem;
    font-weight: bold;
  }
  .radio_container {
    display: flex;
    border-bottom: 1px solid $beta;
    padding: 1rem 0;
    font-weight: normal;

    .form_title {
      font-size: 2rem;
    }

    input {
      margin-left: auto;
    }
  }
}
.modal-content {
  border-radius: 7px;
}
.modal-footer {
  padding: 1rem 10%;

  .btn_accorderie {
    background-color: $primary-color !important;
    border-radius: 5px !important;
    padding: 0.5rem 1.5rem !important;
    border: none;
  }
  .save {
    margin-left: auto;
  }
}

/*
    Page monprofil/mesannonces
    Page monprofil/mesfavoris
*/
.s_vertical_list_lg {
  height: auto;
  padding-top: 0;
  padding: 0 10%;
}

.vertical_list {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  margin: 0 !important;
  overflow: hidden;

  .list_title {
    border-bottom: 1px solid $beta;
    margin-top: 6vh;
  }

  .activite.btn {
    padding: 1.5% 0 1.5%;
    border-bottom: 1px solid $beta;
    border-top: none;
    display: flex;

    > a {
      flex: 1;
    }

    .activite_img {
      max-height: 150px;
      float: left;
    }

    .round {
      border-radius: 50%;
    }

    .infos {
      display: flex;
      flex-direction: column;
      margin-right: 5%;
      line-height: 1;

      .activite_title {
        width: 100%;
      }

      .activite_desc {
        color: gray;
        margin-bottom: 0;
      }
    }

    .infos.right {
      margin-left: auto;
      margin-right: unset;
      text-align: right;

      .fa {
        margin-top: auto;
        font-size: 1.5rem;
      }
    }
  }
  .add_service {
    width: fit-content;
    margin-top: 1.5%;
  }
}
@media only screen and (max-width: 990px) {
  .s_page_title {
    margin-left: 5% !important;
  }

  .s_vertical_list_lg {
    padding: 0;
  }
  .activite.btn {
    padding: 2% 0 2%;

    .activite_img {
      height: 8vh;
    }

    .activite_title {
      font-size: 1.8vh;
      max-height: 3rem;
      overflow: hidden;
    }

    .activite_auteur,
    .activite_distance,
    .activite_age,
    .activite_desc,
    q {
      font-size: 1.5vh;
    }
  }
}

/*
    Page mon profil / mes préférences
*/
.vertical_list.settings {
  width: 60%;
}

.activite {
  padding: 20px 0 20px;
  border-bottom: 1px solid $beta;

  .item_desc {
    font-weight: 350;
    font-size: 1rem;
  }

  .modif {
    float: right;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 990px) {
  .vertical_list.settings {
    width: 100%;
  }
}

/*
    Page messages/notifications
*/

.activite.message {
  white-space: normal;

  .activite_img {
    height: 65px;
    margin-right: 2%;
    background-size: cover;
    background-position: center;
    background-color: powderblue;

    .unread {
      background-color: $alpha;
      height: 15px;
      aspect-ratio: 1/1;
      float: right;
      margin-top: 5px;
    }
  }

  span {
    margin-left: auto;
  }
}

.message.read {
  * {
    opacity: 50%;
  }
}

/*
    Page Évènement/Offre
*/
.s_event_banner {
  height: 35vh;
  padding: 5% 10% 0;
  position: relative;
}
.event_banner_action {
  bottom: 0;
  position: absolute;
  right: 10%;
  display: flex;
  border-radius: 5px 5px 0 0;

  .btn {
    padding: 1rem 2rem;
    color: $text-alpha;
  }
  .divider {
    width: 1px;
    background-color: $text-alpha;
    margin: auto;
    height: 2rem;
  }
}

.event_container {
  display: flex;
  flex-direction: row;
}

.icon_padding_right {
  padding-right: 10px;
}

.event_head {
  width: 100%;
  padding: 5% 10% 0 10%;

  .info-1 {
    .infos {
      display: flex;
      flex-direction: row;

      > * {
        margin-top: 1%;
        font-size: 1rem;
      }

      > div:not(:first-child) {
        padding: 0.5% 2%;
        border-left: 1px solid $beta;
      }

      .distance {
        padding: 0.5% 2% 0 0;
      }

      .event_date h3 {
        font-weight: normal;
      }
    }

    .btn_container {
      float: right;
      margin-top: -3rem;
      width: 50%;

      .btn {
        color: $text-alpha;
        padding: 1rem 2rem;
        margin-left: 5%;
        float: right;
      }
    }
  }
}

.checker {
  border: 1px solid $beta;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem 1rem 0 0;
}
.rounded-dashed {
  border: 2px dashed $beta;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.dashed {
  border: 1px dashed gray !important;
}

.event_container .informations_container {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 50px;
  float: left;
  padding-right: 15%;
  height: auto;

  > div:not(:first-child) {
    padding-right: 25%;
  }

  .info-2 {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 1.5rem;
    }

    > * {
      padding: 5% 5% 5% 0;
      border-top: 1px solid $beta;
    }
    .resume .desc {
      font-size: 1.2rem;

      i {
        width: 1.8rem;
      }
    }

    .contact-list {
      display: flex;
      flex-direction: column;
      padding-right: 0;

      .search_box {
        height: 50px;
        border-radius: 7px;
        width: 50%;
        border: 1px solid lightgray;
        display: flex;
        align-items: center;
        margin: 5% 0;

        i {
          margin-left: 5%;
        }
        input {
          border: none;
          outline: none;
          height: 100%;
          width: 85%;
          margin: auto;
        }
      }

      .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        gap: 40px;
        border-bottom: 1px solid $beta;

        .user_pic {
          background-size: cover;
          aspect-ratio: 1/1;
          height: 70%;
        }

        .btn {
          margin-left: auto;
          padding: 0.75rem 5%;
          color: $text-alpha;
          font-size: 1rem;
        }
      }
      :last-child {
        border: none;
      }
    }
  }
}

.dispo .dates_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1rem;

  :nth-child(odd) {
    width: 25%;
  }
  :nth-child(even) {
    width: 75%;
  }
}

.right_cards_container {
  float: right;
  width: 25%;
  margin: 0 10% 0 0;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .info-3 {
    background-color: $delta;
    border-radius: 7px;
    height: auto;

    img {
      height: 300px;
      border-radius: 7px 7px 0 0;
    }
    div {
      padding: 2rem;
      font-size: 1rem;
    }
  }

  .info-4 {
    background-color: $delta;
    border-radius: 7px;
    height: auto;
    padding: 8%;

    .img {
      width: 25%;
      aspect-ratio: 1/1;
      background-size: cover;
      margin: 0 auto 5% auto;
    }

    h4 {
      text-align: center;
    }

    .stats {
      margin-top: 10%;

      p {
        font-size: 1rem;

        i {
          width: 2rem;
          color: $alpha;
        }
      }
    }

    .summary {
      margin-top: 10%;
    }

    .buttons {
      margin-top: 10%;

      .btn {
        color: $text-alpha;
        margin: 0 auto 0 auto;
      }
    }
  }

  .card {
    border: 1px solid $beta;
  }
}

@media only screen and (max-width: 990px) {
  .s_event_banner {
    height: 25vh !important;
  }
  //.event_banner_action {
  //  display: none;
  //}
  .event_info .btn_container {
    float: none !important;
    width: auto !important;
    margin-top: auto !important;

    .btn {
      padding: 0.5rem 1rem !important;
      margin-left: 0 !important;
      margin-right: 4% !important;
      float: none !important;
    }
  }
  .event_info .infos {
    flex-direction: column !important;

    > * {
      border-top: 1px solid $beta !important;
      border-left: none !important;
      padding: 1rem 0 !important;
    }
  }

  .event_container {
    flex-direction: column;

    .informations_container {
      width: 100%;

      .info-2 .contact-list .search_box {
        width: 100%;
      }
    }

    .right_cards_container {
      width: 100%;

      .info-3 {
        display: none;
      }

      .info-4 {
        background-color: $bg-alpha;
        border-radius: 0;
      }
    }
  }
  .dispo .dates_container {
    :nth-child(odd) {
      width: 50%;
    }

    :nth-child(even) {
      width: 50%;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 400px) {
  .s_event_banner {
    height: 20vh !important;
  }
}

/*
  chat
*/
.chat_container {
  display: flex;
  flex-direction: row;
  gap: 8%;
  max-height: 800px;
}
.chat_box {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-left: 10%;
  background-color: $delta;
  border-radius: 7px;
  border: 1px solid $beta;

  .chat_header {
    display: flex;
    max-height: 18%;
    padding: 2rem;
    position: relative;
    img {
      height: 100%;
      aspect-ratio: 1/1;
    }
    .header_info {
      display: flex;
      flex-direction: column;
      line-height: 0.75rem;
      margin: auto 0 auto 2rem;
      overflow: hidden;
      p {
        margin-bottom: 0.75rem;
      }
      .chat_contact {
        font-size: 1.25rem;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.5rem;
      }
      .chat_title {
        font-size: 1.1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        height: 1.1rem;
      }
      .chat_desc {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .chat_header::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 2rem;
    right: 2rem;
    border-top: 1px solid $beta;
  }
  .chat_body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    .chat_msg {
      width: 100%;
      height: auto;
      white-space: normal;
      padding: 1rem 2rem;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      .msg {
        padding: 0.5rem 1rem;
        max-width: 75%;
        background-color: $gamma;
        width: fit-content;
        height: fit-content;
      }
      .my_msg {
        border-radius: 25px 25px 3px;
        margin-left: auto;
      }
      .their_msg {
        border-radius: 25px 25px 25px 3px;
      }
      .contact_pic {
        aspect-ratio: 1/1;
        height: 2.5rem;
        margin-top: auto;
      }
      .msg_time {
        flex-basis: 100%;
        margin-left: 3.5rem;
        color: $text-beta;
        margin-top: -0.5rem;
      }
    }
  }

  .chat_footer {
    margin-top: auto;
    padding: 2rem;

    .input_container {
      display: flex;
      border-radius: 7px;
      border: 1px solid $beta;
      width: 100%;
      background-color: $bg-alpha;

      input {
        border: none;
        height: 3.5rem;
        width: 80%;
        outline: none;
      }
      span {
        margin: auto 1rem;
        font-size: 1.5rem;
      }
      .fa-send {
        margin-left: auto;
      }
      span:hover {
        cursor: pointer;
      }
    }
  }
}
@media only screen and (max-width: 990px) {
  .s_chat {
    padding: 0 !important;
  }
  .right_cards_container {
    display: none;
  }
  .chat_container {
    max-height: calc(94vh - 154px);
  }
  .chat_box {
    width: 100%;
    margin: 0;
    background-color: $bg-alpha;
    border: none;

    .chat_header {
      max-height: 80px;
      padding: 1rem;
      background-color: $bg-alpha;
      img {
        border-radius: 50%;
      }

      .header_info {
        .chat_desc {
          display: none;
        }
      }
    }
    .chat_header::after {
      left: 1rem;
      right: 1rem;
    }

    .chat_footer {
      position: fixed;
      bottom: 5vh;
      width: 100%;
      background-color: $bg-alpha;
      padding: 1rem;

      .input_container {
        input {
          height: 2.5rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 366px) {
  .chat_container {
    max-height: calc(94vh - 188.25px);
  }
}
/*
  Page Mon accordage à venir
*/

.s_accordage_informations {
  background-color: $gamma;
}

.s_accordage_informations .informations_container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-column-gap: 5%;
  grid-template-rows: auto;

  .information {
    background-color: $bg-alpha;
    border: none;
    max-height: unset;
    display: flex;
    flex-direction: column;

    .info_title {
      font-size: 2rem;
    }
  }

  .information-1 {
    grid-area: 1 / 1 / 2 / 3;
    padding: 4%;
    align-items: center;
    gap: 2%;
    flex-direction: row;

    .btn {
      max-width: 250px;
      min-height: 3.8rem;
      white-space: normal;
      display: flex;
      align-items: center;
      text-align: left;
      gap: 1rem;
      padding: 0.5rem 1.5rem;

      i {
        font-size: 1.5rem;
      }
    }

    .info_depot {
      margin-left: auto;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      color: $alpha;
      border-left: 1px solid $beta;
      padding-left: 5%;

      .heures {
        background-color: $alpha;
        border-radius: 50px;
        padding: 0.5rem;
        color: $text-alpha;
        margin-top: 1rem;
        font-size: 1.5rem;
      }
    }
    divider {
      border-left: 1px solid $beta;
      margin: 0 4rem;
    }
  }
  .information-2 {
    grid-area: 2 / 1 / 5 / 2;
    gap: 2rem;
    height: fit-content;
    font-size: 1rem;

    img {
      width: 6rem;
      height: 6rem;
      display: block;
      margin: 0 auto 1rem;
    }
    .stats i {
      width: 2rem;
      color: #5e95aa;
      font-size: 1rem;
    }
  }
  .information-3 {
    grid-area: 2 / 2 / 3 / 3;

    .divider {
      border: 1px solid $beta;
      margin: 0 3rem;
    }
  }
  .information-4 {
    grid-area: 3 / 2 / 4 / 3;
    height: fit-content;

    .vertical_list {
      padding: 1rem 0 0;

      .activite.btn {
        border: none;
      }
    }
  }
  .information-5 {
    grid-area: 4 / 2 / 6 / 3;
    font-size: 1rem;
    gap: 3rem;

    .condition_desc {
      font-size: 1.2rem;
      margin-bottom: 0;
      margin-top: 1rem;
      display: flex;
    }

    .condition_txt {
      margin: 1rem 0 0;
    }
    divider {
      border-top: 1px solid $beta;
    }
  }
}

.bar_time {
  margin-top: 3rem;
  background-color: $gamma;
  padding: 1rem 5%;
  font-size: 1.5rem;
  display: flex;
  border-radius: 5px;
  align-items: center;

  :last-child {
    margin-left: auto;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 990px) {
  .s_accordage_informations .informations_container {
    display: flex;
  }

  .informations_container .information-1 {
    flex-direction: column !important;

    .info_depot {
      margin: unset !important;
      border: unset !important;
    }
  }
}

/*
  Section mobile filter
*/
.s_mobile_filter {
  display: none;
  font-size: 2vh;
  justify-content: space-between;
  margin-bottom: 1rem;

  .btn {
    border-radius: 50px;
    background-color: lightgrey;
    padding: 0.5rem 1rem;
    font-size: 2vh;
  }
}
@media only screen and (max-width: 990px) {
  .s_mobile_filter {
    display: flex;
  }
}

/*
  Section bar retour
*/
.s_back {
  padding: 28px 32px;
  display: flex;

  .fa-arrow-left {
    padding-right: 32px;
  }

  .actions {
    text-align: right;
    flex: 1;

    div {
      display: inline;
    }

    divider {
      border-left: 1px solid $beta;
      margin: 0 2rem;
    }
    i {
      font-size: 1.5rem;
      vertical-align: middle;
    }
  }
}
@media only screen and (max-width: 710px) {
  .s_back {
    flex-direction: column;
    gap: 1.5rem;

    .actions {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 0.5rem;
    }
  }
}
